<template name="rec">
  <div class="ui segment">

  <h3 class=" cyan-text headerTitle">recommendations</h3>

  <div class="ui middle aligned celled list" style="margin:0; padding: 0;">

    <div class="item">
      <i class="large idea sign icon" style="color: #00bcd4"></i>
      <div class="content">
        You need 20 more innovation points in your plan to get to 100%.
      </div>
    </div>
    <div class="item">
      <i class="large idea sign icon" style="color: #00bcd4"></i>
      <div class="content">
        You need 40 more experience points in your plan to get to 100%.
      </div>
    </div>
    <div class="item">
      <i class="large idea sign icon" style="color: #00bcd4"></i>
      <div class="content">
        A Hackathon is coming up. Check it out.
      </div>
    </div>
  </div>

  </div>

</template>