<template name="instructions">
  <div class="ui styled fluid accordion">
    <div class="title" style="font-size: 1.28em">
      <i class="dropdown icon"></i>
      INSTRUCTIONS
    </div>
    <div class="content">
      <p class="transition hidden" style="margin: 5px; text-indent: 0px">- Click on a course or opportunity you wish to add to the degree planner.  This will open up a menu that gives you a description of the course or opportunity, and an option to add it to a semester in your planner.</p>
      <p class="transition hidden" style="margin: 5px; text-indent: 0px">- Previous semesters cannot be edited except for opportunities and work hours.</p>
      <p class="transition hidden" style="margin: 5px; text-indent: 0px">- If you wish to remove a course from your planner, click on the x to delete it.</p>
    </div>
  </div>
</template>