<template name="footer">
  <div class="ui footer-color vertical footer segment" style="padding: 1rem;">
    <div class="ui center aligned container">
      <img src="/images/radgradicon.png" class="ui centered mini image">
      <h5 class="ui centered header" style="margin: 1rem 0 0 0; color: rgba(255, 255, 255, 0.5);">© 2016 RADGRAD</h5>

      <div class="ui horizontal inverted small divided link list" style="margin: 0.15rem 0 0 0">
        <a class="item" href="https://github.com/radgrad/mvp-6">GITHUB</a>
        <a class="item" href="#!">HELP</a>
      </div>
    </div>
  </div>
</template>