<template name="addopp">
  <!-- Opportunities -->
  <div class="ui segment">
    <h3 class="light-green-text headerTitle">opportunities</h3>

    <!-- Search Bar -->
    <div class="ui search" style="text-align: center; padding-top: 5px; padding-bottom: 1rem !important;">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search Opportunities" id="search-opp" data-list=".opp_list" autocomplete="off">
        <i class="search icon"></i>
      </div>
    </div><!-- End Search Bar -->

    <div class="ui styled accordion" align="left" style="height: 400px; overflow: scroll;">

      {{ #each addoppList }}
      <div class="title">
        <i class="dropdown icon"></i>
        {{name}}
      </div>
      <div class="content">


        <p class="transition visible" style="display: block !important; text-indent: 1rem;">{{#markdown}}{{description}}{{/markdown}}
        <div class="ui divider"></div>

        <span style="font-weight: 600;">Sponsor: </span> {{sponsor}}
        <br><span style="font-weight: 600;">Type: </span> {{opportunityType}}
        <br><span style="font-weight: 600;">Tags: </span> {{tags}}
        </p>

        <div class="cyan white-text ui left pointing dropdown icon button">
          <span>Add to Planner</span>
          <div class="menu">
            <div class="item spr2016">
              Spring 2016
            </div>
            <div class="item sum2016">
              Summer 2016
            </div>
            <div class="item fall2016">
              Fall 2016
            </div>
          </div>
        </div>

      </div>
      {{/each}}


    </div>

  </div><!-- End Opportunities -->

</template>
